h1 {
	font-size: var(--step-3);
}
h2 {
	font-size: var(--step-2);
}
h3 {
	font-size: var(--step-1);
}

.home {
	width: 100%;
	height: 100vh !important;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 2em;
}

.container {
	position: relative;
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: row;
	place-content: center;
	place-items: center;
	z-index: 1;
}

@media (max-width: 1250px) {
	.home {
		padding: 0.5em 0.5em 0 0.5em;
		height: 100vh !important;
		max-height: 100vh;
	}
	.container {
		height: 100vh !important;
		max-height: 100vh;
		width: 90vw;
		display: flex;
	}
	.homeText {
		margin-left: -25%;
	}
}

.contentHome {
	position: relative;
	width: 100%;
	height: 100vh !important;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: #1b1b1b;
	text-align: center;
	white-space: nowrap;
}

.homeTitle {
	font-size: var(--step-5);
	font-family: "Poppins", georgia;
	font-weight: 900;
	width: 100%;
}

.homeText {
	position: relative;
	font-size: var(--step-4);
	font-family: "Lora", serif;
	width: 25vw;
	text-align: center;
}

.homeText::after {
	position: absolute;
	content: "";
	font-family: "Lora", serif;
	font-size: var(--step-3);
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0;
	margin-left: -1em;
	animation: home 8s cubic-bezier(0.62, 0.28, 0.23, 0.99) 1 forwards;
}

@keyframes home {
	0% {
		left: 15%;
		content: "Web development";
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	15% {
		left: 15%;
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	25% {
		left: 0%;
		content: "Websites";
		opacity: 1;
	}
	30% {
		content: "Websites";
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	55% {
		left: 100%;
		content: "Web Apps";
		opacity: 1;
	}
	60% {
		content: "Web Apps";
		opacity: 1;
	}
	70% {
		left: 65%;
		opacity: 0;
	}
	75% {
		left: 15%;
		opacity: 0;
	}
	90% {
		left: 15%;
		content: "Web development";
		opacity: 1;
	}
	100% {
		content: "Web development";
		opacity: 1;
		left: 15%;
	}
}

.homeTextPortfolio {
	width: 17.75ch;
	font-family: "Lora", serif;
	white-space: nowrap;
	overflow: hidden;
	font-size: var(--step-1);
	animation: typing 6s steps(35) alternate 1, blink 0.75s infinite 6s alternate;
	border-right: 3px solid;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.heroImage {
	position: absolute;
	top: 25vh;
	right: -30vw;
	width: 50vw;
	aspect-ratio: 1;
	animation: rotate 15s infinite alternate;
	z-index: 0;
	opacity: 0.75;
}

@media (max-width: 1250px) {
	.heroImage {
		top: -30vw;
		width: 80vw;
		right: -40vw;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
